<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New show</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel = "stylesheet" href ="{% static 'css/style.css' %}">
</head>
<body>
    <h1>New show</h1>
    <form action = "/new" method ="POST">
        {% csrf_token %}

        <div class="new_show">
            <label for="title">Title</label>
            <input type="text" name="title" id="title">
        </div>
        <div class="new_show">
            <label for="network">Network</label>
            <input type="text" name="network" id="network">
        </div>
        <div class="new_show">
            <label for="release_date">Release Date</label>
            <input type="date" name="release_date" id="release_date">
        </div>
        <div class="new_show">
            <label for="description">Description</label>
            <textarea name="description" id="description" ></textarea>
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
    
</body>
</html>