<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shows</title>
</head>
<body>
    <div id = 'shows'>
        <h3>All shows</h3>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Network</th>
                    <th>Release Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for show in shows %}
                <tr>
                    <td>{{show.id}}</td>
                    <td>{{show.title}}</td>
                    <td>{{show.network}}</td>
                    <td>{{show.release_date}}</td>

                    {% foe each_show in show %}
                        <td><a href ='/shows/{{show.id}}'>Show</a></td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</body>
</html>