<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shows</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel = "stylesheet" href ="{% static 'css/style.css' %}">
</head>
<body>
    <div id = 'shows'>
        <h3>All shows</h3>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Network</th>
                    <th>Release Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for show in shows %}
                <tr>
                    <td>{{show.id}}</td>
                    <td>{{show.title}}</td>
                    <td>{{show.network}}</td>
                    <td>{{show.release_date|date:'SHORT_DATE_FORMAT'}}</td>
                    <td><a href ='/show/{{show.id}}'>Show</a> | <a href ='/show/{{show.id}}/edit'>Edit</a> | <a href ='/show/{{show.id}}/delete'>Delete</a></td> 
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</body>
</html>